.links-container {
    max-width: 80vw;
    margin: auto;
}
.links-container ul {
    list-style: none;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}
.links-container ul li a {
    text-decoration: none;
    color: inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--link-default-color);
    padding: 24px 32px;
    border-radius: 8px;
    display: block;
}
.links-container ul li a:focus{
    border: 1px solid #98A2B3;
}
.links-container ul li a:hover {
    background-color: #D0D5DD;
}
.social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 24px 0px;
}

/* mobile view */ 
@media (max-width: 700px) {
    .social-icons {
        margin-top: 3rem;
    }
    .links-container {
        max-width: 90vw;
    }
}